/*
 * Copyright (c) 2024 Common Ground Electronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		target-uart = &uart2;
	};
};

&wifi {
	status = "okay";
};

&uart2 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart2_default>;
	pinctrl-names = "default";
};

&pinctrl {
	uart2_default: uart2_default {
		group1 {
			pinmux = <UART1_RX_GPIO16>, <UART1_TX_GPIO17>;
		};
	};
};
